body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
  font-family: "Quicksand", sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ui-layer {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  border-radius: 5px;
  width: 150px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #4e7dba;
  color: white;
  transition-duration: 0.3s;
  outline: none;
  opacity: 0.8;
}

button:hover {
  scale: 1.02;
  opacity: 1;
}

p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

#jcontainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(68, 68, 68, 0.405);
  justify-content: center;
}

#join-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  border-radius: 10px;
  color: black;
  padding: 20px 40px;
}

input[type="text"] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: solid 1px gray;
  font-size: 25px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  padding: 5px;
}

#joincode {
  text-align: center;
  font-size: 30px;
}

#join-close {
  opacity: 0.7;
  transition-duration: 0.3s;
}

#join-close:hover {
  opacity: 1;
  transform: rotate(180deg);
}

#pixi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#pixi-container {
}

canvas {
    pointer-events: all;
}

.sidebar {
  position: absolute;
  top: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  height: calc(100% - 60px);
  box-sizing: border-box;
  width: 300px;
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  background-color: white;
  border-radius: 10px;
  display: flex;
  pointer-events: all;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

#waiting-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 400px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  color: black;
  z-index: 450;
  pointer-events: all;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

#join-code-card {
  padding: 10px 15px;
  font-size: 35px;
  font-weight: 600;
  background-color: #4e7dba;
  color: rgb(244, 244, 244);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#join-code-card i {
  margin-left: 10px;
  font-size: 32px;
  font-weight: 600;
}

#players-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-card {
  background-color: #dce4f5;
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.player-card .user-icon {
  font-size: 41px;
  margin: 4px;
  background-color: white;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.user-status {
  position: absolute;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 500;
}

#turn-status-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color: #bbccf2;
    color:black;
    padding:4px 7px;
    border-radius:5px;
    margin:0px; 
    margin-bottom:5px;
}

#turn-status-container p {
    margin:0;
    font-size:20px;
}
.user-ready .user-status {
  background-color: #8fb9a8;
}

.user-waiting .user-status {
  background-color: #b6b6b6;
}

.user-waiting p {
  opacity: 0.6;
}

.user-icon-container {
  position: relative;
}

#host-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#host-actions-container button {
  margin: 0px 6px;
}

#cancel-game,
#leave-game {
  background-color: #ee6c4d;
}

#message {
  display: none;
  font-size: 15px;
  font-weight: 700;
  color: #ee6c4d;
}

#dice {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#dice-result {
  font-size: 110px;
  font-weight: 800;
  color: rgb(33, 33, 33);
  opacity: 0;
}

#dice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}

#roll-dice {
  margin-top: 30px;
  margin-bottom: 20px;
}

#move-history-container {
  display:flex;
  flex:1;
  min-height:0;
  overflow:hidden;
  width:100%;
  flex-direction: column;
}
#move-history {
  width:100%;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  overflow-y: scroll;
  height:calc(100%);
  
}

.move-history-item {
  background-color: rgb(238, 238, 238);
  padding: 8px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  box-sizing: border-box;
}

.player-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 10px;
  background-color: black;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: center;
}


#copy-code {
  margin-left: 0px !important;
}

#join-code {
  margin-right: 0px;
}

#results-container {
  background-color:white;
  padding:15px;
  border-radius:5px;
  color:black;


}

.rcard-icon {
  width:80px;
  height:80px;
  border-radius:50%;
  background-color: #76a3de;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:60px;
  margin:20px;
}

#game-results {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(68, 68, 68, 0.405);
  display:flex;
  justify-content: center;
  align-items:center;
  z-index:660;
}

.results-card {
  display:flex;
  flex-direction: row;
  background-color: #e8edf8;
  border-radius:15px;
  justify-content: flex-start;
  align-items: center;

  
}

.vertical-line {
  width:2px;
  height:80px;
  background-color: black;
  margin:3px;
}

.rcard-pname {
  font-size: 35px;
  font-weight:700;
  width:300px;

}

.stats {
  width:800px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.stat {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat p {
  margin:0;
  font-size:14px; 
}

.stat-items {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stat-plane {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:30px;
  height:30px;
  color:black;
  background-color: blue;
  border-radius:50%;
  font-size:25px;
}

.stat h1 {
  font-size:25px;
  font-weight:800;
  margin:2px;
}

.players-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 97%;
  padding: 5px;
}

.player-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}

.player-icon-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin-right:10px;
}
.player-piece-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.players-list-subcontainer.player-card {
    padding: 5px 5px;
    margin:5px !important;
}
.player-piece {
  width: 60px;
  height: 35px;
  display: flex;
  box-sizing: border-box;
  position:relative;
  flex-direction: row;
  font-size:25px;
  padding:4px;
  border-radius:5px;
  justify-content: center;
  align-items: center;
  margin:5px;
}

.player-piece i {
    margin:0;
}

.player-card2 {
  background-color: #dce4f5;
  border-radius: 15px;
  padding: 5px 10px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  margin: 5px;
}

.player-card2 .user-icon {
  font-size: 41px;
  margin: 4px;
  background-color: white;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.player-card2 p {
    margin-top:0px;
    margin-bottom:2px;
}



.player-icon.blue,
.user-icon.blue, .player-piece.blue {
  background-color: #76a3de;
}

.player-icon.red,
.user-icon.red, .player-piece.red {
  background-color: #f28266;
}

.player-icon.yellow,
.user-icon.yellow, .player-piece.yellow {
  background-color: #ead178;
}

.player-icon.green,
.user-icon.green, .player-piece.green{
  background-color: #b3dbcb;
}


.piece-progress-bar {
    width:6px;
    height:25px;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left:8px;
    background-color:rgb(225, 225, 225);
    border-radius:2px;
}

.piece-progress-fill {
    width:6px;
    height:100%;
    background-color: #106846;
    z-index:550;
    border-radius:2px;

}

.piece-status-indictator {
    width:20px;
    height:20px;
    border-radius:50%;
    background-color: rgb(218, 218, 218);
    position:absolute;
    bottom:-7px;
    left:-7px;
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:12px;
}

.piece-status-indictator i {
    margin:0;
    font-size:15px;
}
